@*
// Project: EatDrinkFit.Web
// File: Views/Admin/UserEdit.cshtml
// Origonially designed for ASP.NET Core 8.0

// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// Copyright (C) 2024 Michael Peterson <14036481+z3nf1n1ty@users.noreply.github.com>

// SPDX-FileCopyrightText: 2024 Michael Peterson <14036481+z3nf1n1ty@users.noreply.github.com>
// SPDX-License-Identifier: Mozilla Public License 2.0
// FileContributor: Original contributer Michael Peterson 14036481+z3nf1n1ty@users.noreply.github.com
// FileContributor:
*@

@{
    ViewData["Title"] = "User Edit";

    ViewData["SideNavAdminUserManagmentClassOpen"] = "menu-open";
    ViewData["SideNavAdminUserManagmentClassActive"] = "active";
    ViewData["SideNavAdminUserManagmentStyleBlock"] = "style=\"display: block\"";

    ViewData["HTMLSideNavAdminUserManagmentEdit"] =
    @"
    <li class=""nav-item"">
        <a class=""nav-link active"" asp-area="""" asp-controller="""" asp-action="""">
    <i class=""fas fa-user-edit nav-icon""></i>
    <p>User Edit</p>
        </a>
    </li>
    ";
}

<h1>User List</h1>