@*
// Project: EatDrinkFit.Web
// File: Views/Dashboard/Index.cshtml
// Origonially designed for ASP.NET Core 8.0

// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// Copyright (C) 2024 Michael Peterson <14036481+z3nf1n1ty@users.noreply.github.com>

// SPDX-FileCopyrightText: 2024 Michael Peterson <14036481+z3nf1n1ty@users.noreply.github.com>
// SPDX-License-Identifier: Mozilla Public License 2.0
// FileContributor: Original contributer Michael Peterson 14036481+z3nf1n1ty@users.noreply.github.com
// FileContributor:
*@

@{
    ViewData["Title"] = "Dashboard";

    ViewData["SideNavDashboardClassActive"] = "active";

    ViewData["ContentHeaderBreadcrumb"] =
        @"
        <li class=""breadcrumb-item""><a href=""/"">Home</a></li>
        <li class=""breadcrumb-item active"">Dashboard</li>
        ";

    ViewData["ScriptDashboardDailyCaloriesChart"] =
        @"
        <script>
        $(function () {
        dashboardCaloriesChart();
        })
        </script>
        ";
}

@model EatDrinkFit.Web.Models.ManualMacroLogViewModel

<div class="row">

    <div class="col-xl-5">
        <div class="row">

            <div class="col-xl-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Quick Log Items</h3>
                    </div>
                    <form method="post">
                        <div class="card-body">

                            <div class="btn-group form-group" aria-label="Unit Selection" data-toggle="buttons">
                                <label class="btn btn-info">
                                    <input type="radio" id="WaterUnit" name="WaterUnit" value="FLOZ" asp-for="WaterUnit" autofocus="true" hidden checked /> fl oz
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" id="WaterUnit2" name="WaterUnit" value="ML" asp-for="WaterUnit" hidden /> ml
                                </label>
                            </div>

                            <div class="form-group">
                                <label>Water Ammount</label>
                                <input type="text" class="form-control" asp-for="WaterAmmount" placeholder="Enter ...">
                            </div>

                            <div class="form-group">
                                <label>Note</label>
                                <input type="text" class="form-control" asp-for="WaterNote" placeholder="Enter ...">
                            </div>

                            <div class="form-group">
                                <label>Date [leave blank for current date and time]</label>
                                <input type="datetime-local" class="form-control" asp-for="WaterTimeStamp">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control hiddentimezone" asp-for="WaterTZ" value="" readonly>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info" asp-controller="Food" asp-action="ManualWater">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-xl-12">
                donut chart ration of fat, carbs, protein...
            </div>

        </div>
    </div>

    <div class="col-xl-7">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Daily Calories | Last 10 Days | Goal: 1800-2000cal</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="CaloriesBarChart" style="min-height: 500px; height: 250px; max-height: 500px; max-width: 100%;"></canvas>
                </div>
            </div>

        </div>
    </div>
    
</div>