@*
// Project: EatDrinkFit.Web
// File: Views/Food/Manual.cshtml
// Origonially designed for ASP.NET Core 8.0

// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

// Copyright (C) 2024 Michael Peterson <14036481+z3nf1n1ty@users.noreply.github.com>

// SPDX-FileCopyrightText: 2024 Michael Peterson <14036481+z3nf1n1ty@users.noreply.github.com>
// SPDX-License-Identifier: Mozilla Public License 2.0
// FileContributor: Original contributer Michael Peterson 14036481+z3nf1n1ty@users.noreply.github.com
// FileContributor:
*@

@{
    ViewData["Title"] = "Manual";

    ViewData["SideNavFoodClassOpen"] = "menu-open";
    ViewData["SideNavFoodClassActive"] = "active";
    ViewData["SideNavFoodStyleBlock"] = "style=\"display: block\"";

    ViewData["SideNavFoodManualClassActive"] = "active";

    ViewData["ContentHeaderBreadcrumb"] =
    @"
    <li class=""breadcrumb-item""><a href=""/"">Home</a></li>
    <li class=""breadcrumb-item""><a href=""/Admin"">Admin</a></li>
    <li class=""breadcrumb-item active"">Manual</li>
    ";
}

@model EatDrinkFit.Web.Models.ManualMacroLogViewModel

<div class="row">
    <div class="col-lg-6">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Manual Food Macros Form</h3>
            </div>
            <form method="post" >
                <div class="card-body">

                    <div class="form-group">
                        <label>Calories</label>
                        <input type="text" class="form-control" asp-for="Calories" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                        <label>Total Fat (g)</label>
                        <input type="text" class="form-control" asp-for="Fat" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                        <label>Cholesterol (mg)</label>
                        <input type="text" class="form-control" asp-for="Cholesterol" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                        <label>Sodium (mg)</label>
                        <input type="text" class="form-control" asp-for="Sodium" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                        <label>Total Carbs (g)</label>
                        <input type="text" class="form-control" asp-for="TotalCarb" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                        <label>Dietary Fiber (g)</label>
                        <input type="text" class="form-control" asp-for="Fiber" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                        <label>Sugar (g)</label>
                        <input type="text" class="form-control" asp-for="Sugar" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                        <label>Protein (g)</label>
                        <input type="text" class="form-control" asp-for="Protein" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                        <label>Note</label>
                        <input type="text" class="form-control" asp-for="Note" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                        <label>Date [leave blank for current date and time]</label>
                        <input type="datetime-local" class="form-control" asp-for="TimeStamp">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control hiddentimezone" asp-for="ManualTZ" value="" readonly>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success" asp-controller="Food" asp-action="ManualFood">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Manual Water Intake Form</h3>
                    </div>
                    <form method="post">
                        <div class="card-body">

                            <div class="btn-group form-group" aria-label="Unit Selection" data-toggle="buttons">
                                <label class="btn btn-info">
                                    <input type="radio" id="WaterUnit" name="WaterUnit" value="FLOZ" asp-for="WaterUnit" autofocus="true" hidden checked /> fl oz
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" id="WaterUnit2" name="WaterUnit" value="ML" asp-for="WaterUnit" hidden /> ml
                                </label>
                            </div>

                            <div class="form-group">
                                <label>Water Ammount</label>
                                <input type="text" class="form-control" asp-for="WaterAmmount" placeholder="Enter ...">
                            </div>

                            <div class="form-group">
                                <label>Note</label>
                                <input type="text" class="form-control" asp-for="WaterNote" placeholder="Enter ...">
                            </div>

                            <div class="form-group">
                                <label>Date [leave blank for current date and time]</label>
                                <input type="datetime-local" class="form-control" asp-for="WaterTimeStamp">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control hiddentimezone" asp-for="WaterTZ" value="" readonly>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info" asp-controller="Food" asp-action="ManualWater">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Manual Fluids Intake Form</h3>
                    </div>
                    <form method="post">
                        <div class="card-body">

                            <div class="btn-group form-group" aria-label="Unit Selection" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="radio" id="FluidUnit" name="FluidUnit" value="FLOZ" asp-for="FluidUnit" autofocus="true" hidden checked /> fl oz
                                </label>
                                <label class="btn btn-warning">
                                    <input type="radio" id="FluidUnit2" name="FluidUnit" value="ML" asp-for="FluidUnit" hidden /> ml
                                </label>
                            </div>

                            <div class="form-group">
                                <label>Fluid Ammount</label>
                                <input type="text" class="form-control" asp-for="FluidAmmount" placeholder="Enter ...">
                            </div>

                            <div class="form-group">
                                <label>Note</label>
                                <input type="text" class="form-control" asp-for="FluidNote" placeholder="Enter ...">
                            </div>

                            <div class="form-group">
                                <label>Date [leave blank for current date and time]</label>
                                <input type="datetime-local" class="form-control" asp-for="FluidTimeStamp">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control hiddentimezone" asp-for="FluidTZ" value="" readonly>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-warning" asp-controller="Food" asp-action="ManualFluid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
